html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
}

.App {
  background-color: rgb(78, 143, 242);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh; 
  padding-top: 20px;

}

/* Title Styling */
h1.text-center {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 5px;
  color: white;
}

/* Game Status Styling */
.mb-4.text-center h3 {
  font-size: 2rem;
  font-weight: 200;
  text-transform: lowercase;
  color: #ffffff;
  margin-bottom: 4px; 
}

/* Win Record Box */
.text-center.mb-4 {
  background-color: rgb(78, 143, 242);
  padding: 0px; 
  border-radius: 0px;
  margin-bottom: 1px;
  margin-top: 0px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.text-center.mb-4 h4 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  margin-right: 15px;
}

.text-center.mb-4 p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
  margin: 0px 15px;
  text-align: center;
}

/* Board Tiles Styling*/
.board {
  background-color: rgb(37, 90, 184);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* Tile Styling */
.tile {
  width: 70px;
  height: 70px;
  background-color: rgb(37, 90, 184);
  border-radius: 50%;
  margin: 15px; 
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 8px;
  box-sizing: border-box;
}

.tile:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tile.bg-yellow {
  background-color: #fad950;
}

.tile.bg-red {
  background-color: #e53e3e;
}

.tile.bg-white {
  background-color: #ffffff;
}

/* Reset Button */
.btn-primary {
  background-color: rgb(37, 90, 184);
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 14px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1px;
}

.btn-primary:hover {
  background-color: #319795;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 10px; 
    width: 90%;
  }

  .tile {
    width: 65px;
    height: 65px;
  }

  .text-center.mb-4 h4,
  .text-center.mb-4 p {
    font-size: 1.3rem;
  }

  .text-center.mb-4 {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-center.mb-4 p {
    margin: 5px 0;
  }
}

@media (max-width: 500px) {
  header {
    font-size: 2.8rem;
  }

  .tile {
    width: 55px;
    height: 55px;
  }

  .btn-primary {
    padding: 12px 28px;
  }
}
